table {
    width: 100%;
    background-color: var(--bg-secondary);
    border-collapse: collapse;
    border: 1px solid var(--border);
}

th {
    padding: 12px;
    border-bottom: 2px solid var(--border);
    color: var(--text-primary);
    font-weight: 600;
    text-align: left;
}

td {
    padding: 12px;
    border-bottom: 1px solid var(--border);
    color: var(--text-primary)
}

tbody tr:hover {
    background-color: var(--bg-tertiary);
    cursor: pointer;
}
