{{define "css"}}
<link rel="stylesheet" href="static/pages/contribute.css">
{{end}}

{{define "main"}}
<div class="container">
    
    <button class='btn' onclick="window.location='/'">Home</button>

    <div>
        <h1>New Event</h1>
        Need to add a form with csrf protection 
    </div>

    <div>
        Code contributions are welcome 
    </div>

</div>
{{end}}
