{{define "css"}}
<link rel="stylesheet" href="/static/pages/event_edit.css">
{{end}}

{{define "main"}}
<div class="container">
    <h1>We edit an event here</h1>
    <h1>Cool to add some photos too</h1>

    <div>Add button to go back to event</div>
</div>



{{end}}
