{{define "css"}}
<link rel="stylesheet" href="/static/pages/event.css">
{{end}}

{{define "main"}}
<div class="container">
    <div>

        <div class='section'>
            <h1 class='title-center'>{{.Title}}</h1>
            <div class='title-row'>
                <h2>{{.Country}}</h2>
                <h2>{{.Date}}</h2>
            </div>
            <div class='title-row'>
                <div>
                    {{range .Tags}}
                        <span class='tags'>
                            {{.}}
                        </span>
                    {{end}}
                </div>
                <button class='btn' onclick="window.location='/'">Home</button>
            </div>
        </div>

        <div class='section description'>
            {{.Description}}
        </div>

        <div class='section'>
            <h2>Sources</h2>
            {{range .Sources}}
                <div class='row'>
                    <div>{{.Name}}</div>
                    <a href="{{.URL}}" target="_blank">{{.URL}}</a>
                </div>
            {{end}}
        </div>

        <div class='section'>
            <h2>Books</h2>
            {{range .Books}}
                <div class='row'>
                    <div class='title-author'>
                        <div>{{.Title}}</div>
                        <div>by {{.Author}}</div>
                    </div>
                    <a href="{{.Link}}" target="_blank">link</a>
                </div>
            {{end}}
        </div>

        <div class='section media'>
            {{range .Medias}}
                {{if eq .Type "photo"}}
                    <div class="media-item">
                        <img src="{{.URL}}" alt="{{.Caption}}">
                        {{if .Caption}}<p class="caption">{{.Caption}}</p>{{end}}
                    </div>
                {{else if eq .Type "youtube"}}
                    <div class="media-item">
                        <iframe
                            src="https://www.youtube.com/embed/{{.URL}}"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                        {{if .Caption}}<p class="caption">{{.Caption}}</p>{{end}}
                    </div>
                {{end}}
            {{end}}
        </div>

    </div>
</div>
{{end}}
