{{define "css"}}
<link rel="stylesheet" href="/static/pages/home.css">
{{end}}

{{define "main"}}
<div class="container">

<table>
    {{range $index, $_ := .}}
    <tr>
        <td>{{add $index 1}}</td>
        <td>{{.Title}}</td>
        <td>{{.Country}}</td>
        <td>{{.Date}}</td>
    </tr>
    {{end}}
</table>
</div>
{{end}}
